
*.ide-shm
*.ide-wal
1raEntrega/1raEntrega/bin/Debug/1raEntrega.exe
1raEntrega/1raEntrega/bin/Debug/1raEntrega.pdb
1raEntrega/.vs/1raEntrega/v15/Server/sqlite3/storage.ide-wal
*.exe
*.pdb
1raEntrega/1raEntrega/bin/Debug/*
*.nupkg
1raEntrega/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/lib/net20/Microsoft.Office.Interop.Excel.dll
1raEntrega/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/.signature.p7s
1raEntrega/1raEntrega/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
1raEntrega/1raEntrega/obj/Debug/_1raEntrega.TestChiCuadrado2.resources
1raEntrega/1raEntrega/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.pdb
1raEntrega/1raEntrega/obj/Debug/1raEntrega.exe
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csprojAssemblyReference.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.GenerateResource.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.FileListAbsolute.txt
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.CoreCompileInputs.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.pdb
1raEntrega/1raEntrega/obj/Debug/1raEntrega.exe
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csprojAssemblyReference.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.GenerateResource.cache
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.FileListAbsolute.txt
1raEntrega/1raEntrega/obj/Debug/1raEntrega.csproj.CoreCompileInputs.cache
1raEntrega/1raEntrega/bin/Debug/1raEntrega.pdb
1raEntrega/1raEntrega/bin/Debug/1raEntrega.exe
1raEntrega/.vs/1raEntrega/v15/Server/sqlite3/storage.ide-wal
1raEntrega/.vs/1raEntrega/v15/Server/sqlite3/storage.ide-shm
1raEntrega/.vs/1raEntrega/v15/Server/sqlite3/storage.ide
1raEntrega/.vs/1raEntrega/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
